@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Playpen Sans", cursive;
  font-optical-sizing: auto;
}

:root {
  --primary: #f4922f;
  --secondary: #363636;
}
